
/* Blog */
@media (min-width: 1025px){

    .enginescale-blog-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 0px);
    }
    .enginescale-blog-section .single-item  {
        height: 264px;
    }
    .enginescale-blog-section .single-item:nth-child(1) {
        grid-row: 2/6;
        height: 540px
    }
    .enginescale-blog-section .single-item:nth-child(2) {
        grid-row: 2/4;
        height: 270px;
    }
    .enginescale-blog-section .single-item:nth-child(3) {
        grid-row: 4/6;
        height: 270px;
    }

    
}

.blog-inner {
    display: flex;
    height: 100%;
}
.blog-inner .blog-thumb-wrap {
    width: 100%;
    border-radius: 0 21px 0px 0;
}
/* large box */
.enginescale-blog-section .single-item:nth-child(1) .blog-inner{
    display: block;
}
.enginescale-blog-section .single-item:nth-child(1) .blog-inner .blog-content, 
.enginescale-blog-section .single-item:nth-child(1) .blog-inner .blog-thumb-wrap{
    width: 100%;
    border-radius: 21px 0 0 21px;
}
.enginescale-blog-section .single-item .blog-inner .blog-thumb-wrap .blog-thumb{
    height: 270px;
}
.enginescale-blog-section .single-item:nth-child(1) .blog-inner .blog-thumb-wrap .blog-thumb {
    height: 540px;
}
.enginescale-blog-section .single-item:nth-child(3) .blog-inner .blog-thumb-wrap {
    border-radius: 0 0px 21px 0;
}


/* .enginescale-blog-section .single-item:nth-child(2) .blog-content h2,
.enginescale-blog-section .single-item:nth-child(3) .blog-content h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
} */

.d-block{
    display: block;
}
.blog-thumb {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.enginescale-blog-section {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: #040415;
}
.enginescale-blog-section .blog-content{
    padding: 0px 40px 20px 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.blog-meta {
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}
.blog-meta p {
    margin: 0 0 -3px;
}
.blog-meta strong {
    font-weight: 600;
}
.enginescale-blog-section h2 {
    font-size: 38px;
    line-height: 1.2em;
    margin: 0px 0 15px;
    font-family: "Poppins";
    font-weight: 400;
}
.enginescale-blog-section .single-item:nth-child(2) h2, .enginescale-blog-section .single-item:nth-child(3) h2 {
    font-size: 34px;
}
.enginescale-blog-section h2, 
.enginescale-blog-section h2 a,
.enginescale-blog-section .redmore{
    color: #fff;
}
.enginescale-blog-section .redmore{
    font-size: 18px;
    font-weight: 500;
    font-family: "DM Sans";
    margin-top: 10px;
    display: inline-block;
}
.enginescale-blog-section .redmore i {
    transform: rotate(-45deg);
    position: relative;
    bottom: -1px;
    right: -8px;
    color: #FFB853;
}
/* .enginescale-blog-section .redmore:hover, 
.enginescale-blog-section h2:hover{
    color: #FFB853;
} */
.enginescale-blog-section .redmore img{
    margin-left: 5px;
}
.blog-thumb-wrap{
    overflow: hidden;  
    position: relative;
}
.blog-thumb-wrap .blog-thumb{
    transition: all .5s ease;  
    background-color: #ddd;
}
.blog-thumb-wrap:hover .blog-thumb{
    transform: scale(1.1);  
}
.enginescale-blog-section .single-item{
    background-color: #FAFAFA;
    position: relative;
}

.blog-thumb {
    position: relative;
    z-index: 2;
}
.blog-thumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    content: "";
    z-index: 1;
    opacity: .5;
    transition: all .5s ease;
}
.blog-thumb-wrap:hover .blog-thumb:after {
    opacity: .2;
}


/* Related Posts */
.success-story-wrap.recent-posts .service-content {
    position: relative;
}
.success-story-wrap.recent-posts .single-success-story:hover:after {
    background: none;
}
.success-story-wrap.recent-posts .single-success-story .success-story-thumb, 
.success-story-wrap.recent-posts .single-success-story .success-story-thumb {
    height: 280px;
}
.success-story-wrap.recent-posts .single-success-story:after {
    background: none;
    opacity: 0;
    visibility: hidden;
}
.success-story-wrap.recent-posts .service-content h2 {
    color: #1D1D1D;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}
.success-story-wrap.recent-posts .service-content h2:hover{
    color: #FFB853;
}
.success-story-wrap.recent-posts .single-success-story .service-content .learn-btn {
    padding: 0;
    background: transparent;
    color: #1D1D1D;
    opacity: 1;
    visibility: visible;
}
.success-story-wrap.recent-posts .single-success-story .service-content {
    padding: 20px;
    background: #FAFAFA;
    bottom: 0;
    min-height: 192px;
    position: relative;
}
.success-story-wrap.recent-posts .single-success-story:hover .service-content .learn-btn:hover {
    background: transparent;
    color: #FFB853;
}
.success-story-wrap.recent-posts .swiper-button-prev, 
.success-story-wrap.recent-posts .swiper-button-next {
    border-radius: 0;
    height: 56px;
    width: 56px;
}
.success-story-wrap.recent-posts .swiper-button-next {
    right: -28px;
}
.success-story-wrap.recent-posts .swiper-button-prev {
    left: -28px;
    right: auto;
}



/* Recent Posts */
.single-recent-post {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.recent-post-thumb {
    width: 150px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    margin-right: 10px;
}
.recent-post-content h2 {
    font-size: 18px;
    line-height: 20px;
    color: #040415;
}
.recent-post-content h2:hover{
    color: #F9BD4A;    
}


/* Responsive CSS */

@media (max-width: 1300px){

    .success-story-wrap.recent-posts .swiper-button-next {
        right: 0;
        top: -40px;
    }
    .success-story-wrap.recent-posts .swiper-button-prev {
        left: auto;
        right: 61px;
        top: -40px;
    }
    .success-story-wrap.recent-posts .swiper-button-prev, .success-story-wrap.recent-posts .swiper-button-next{
        height: 45px;
        width: 45px;
    }

}

@media (max-width: 1024px) {

    .enginescale-blog-section .single-item:nth-child(2) h2, .enginescale-blog-section .single-item:nth-child(3) h2 {
        font-size: 26px;
    }
    .enginescale-blog-section .single-item .blog-inner .blog-thumb-wrap .blog-thumb,
    .enginescale-blog-section .single-item:nth-child(1) .blog-inner .blog-thumb-wrap .blog-thumb{
        height: 280px;
    }
    .enginescale-blog-section .blog-content{
        padding: 0px 20px 10px 20px;
    }
    .enginescale-blog-section .single-item:nth-child(1) .blog-inner .blog-content, .enginescale-blog-section .single-item:nth-child(1) .blog-inner .blog-thumb-wrap, .blog-inner .blog-thumb-wrap, .enginescale-blog-section .single-item:nth-child(3) .blog-inner .blog-thumb-wrap {
        border-radius: 14px;
    }
    .blog-inner .blog-thumb-wrap {
        margin-bottom: 10px;
    }

  
}

/* max-width:768px */
@media (max-width:768px) {
    
  

    
}
